.container {
    background: #fefefe;

    & .box {
        background: #1da75b;
        width: 5rem;
        height: 5rem;
        border: clamp(8px, 5vw, 2px) solid Red;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 50px;
    gap: 10px;

    & .item {
        background-color: green;
    }
}

.subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    gap: 10px;

    & .item {
        background-color: red;
    }
}
