<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block" (click)="open(connectionResult.action)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Action
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-success btn-block" (click)="open(connectionResult.category)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Category
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-warning btn-block" (click)="open(connectionResult.user)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add users
                </a>
            </div>
        </div>
    </div>
</section>