.engulf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(44, 158, 92);
    background: rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
}
