<div class="container">

    <div class="content">
        <input type="text" (keyup)="onKey($event)">
    </div>
    <div class="content">
        <button id="resume">Resume</button>
        <button id="pause">Pause</button>
        <label id="result"></label>
    </div>

    <div class="content">
        <button (click)="mergemapExample()">Merge Map</button>
    </div>

    <div class="content">
        <button (click)="combineAllEx()">Combine All</button>
    </div>

    <div class="content">
        <button (click)="combineLatestEx()">Combine Latest</button>
    </div>

    <div class="content">
        <button (click)="concatEx()">Concat</button>
    </div>


    <div class="content">
        <button (click)="combineLatestEx1()">CombineLatestClick</button>

        <div class="display-area">
            Red: <label id="red-count"></label>
            Blue: <label id="blue-count"></label>
            Total: <label id="total"></label>
        </div>
        <div class="clickable-area">
            <button id="red">Red</button>
            <button id="blue">Blue</button>
        </div>
    </div>

</div>