$padding: 1.5rem;
$color-accent: #04f5cd;
$color-black-darker: rgba(27, 26, 26, 0.9);
$color-black-lighter: rgba(27, 26, 26, 0.3);

.htmlbody {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: rgba(29, 211, 126);
    line-height: 1.6;
    font-family: sans-serif;
    background-image: url(../../assets/image/watertree.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    & .card {
        background: $color-black-lighter;
        color: #fff;
        background-image: url(../../assets/image/watertree.jpg);
        // height: 80%;
        // background-position: center;
        // object-fit: cover;
        // background-repeat: no-repeat;
        border-radius: 0.5rem;
        overflow: hidden;
        background-size: cover;
        padding: 12rem 3rem 0 0;
        max-width: 40ch;

        & .card-content {
            padding: $padding;
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
            transform: translateY(65%);
            transition: all 1000ms ease-in-out;
            & > *:not(.card-title) {
                opacity: 0;
            }
            & .card-title {
                position: relative;
                width: max-content;
                // max-width: 100%;
                &::after {
                    content: "";
                    position: absolute;
                    background: $color-accent;
                    height: 3px;
                    left: calc(#{$padding} * -1);
                    bottom: 0;
                    width: calc(#{$padding} + 100%);
                    transform: scaleX(0);
                    transition: transform 1000ms ease-in-out;
                    transform-origin: left;
                }
            }

            & .card-body {
                color: rgba(255, 255, 255, 0.8);
            }

            & .button {
                cursor: pointer;
                background: $color-accent;
                color: $color-black-darker;
                padding: 0.5rem 1rem;
                text-decoration: none;
                border-radius: 0.25rem;

                &:hover,
                &:focus {
                    background: #fff;
                }
            }
        }

        &:hover {
            & .card-content {
                transform: translateY(0);
                & > *:not(.card-title) {
                    opacity: 1;
                }
                & .card-title {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}
