<div class="header-container">
    <header>
        <nav class="nav-bar">
            <ul>
                <li class="links"><a [routerLink]="['/tokens']"><span>InjectionToken</span></a>
                </li>
                <li class="links"><a [routerLink]="['/cva']"><span>Control Value Accessor</span></a>
                </li>
                <li class="links"><a [routerLink]="['/widget']"><span>Design Pattern</span></a>
                </li>
                <li class="links"><a [routerLink]="['/js']"><span>Javascript</span></a>
                </li>
                <li class="links"><a [routerLink]="['/chart']"><span>Bar Chart</span></a>
                </li>
                <li class="links"><a [routerLink]="['/pie']"><span>Pie Chart</span></a>
                </li>
                <li class="links"><a [routerLink]="['/rxjs']"><span>RXJS</span></a>
                </li>

                <li class="links"><a [routerLink]="['/stars']"><span>Stars</span></a>
                </li>
                <li class="links"><a [routerLink]="['/csstricks']"><span>Css Tricks</span></a>
                </li>

                <li class="links"><a [routerLink]="['/css']"><span>Css</span></a>
                </li>
                <li class="links"><a [routerLink]="['/subject']"><span>Subject</span></a>
                </li>
                <li class="links"><a [routerLink]="['/reactive']"><span>Reactive</span></a>
                </li>

            </ul>
        </nav>
    </header>
</div>
<router-outlet></router-outlet>
<router-outlet name="aside"></router-outlet>

<!-- 
<div class="content">

    <h2>
        This is from App component
    </h2>
</div> -->