* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    // display: none;
    height: auto;
    border: 5px solid red;
    padding: 2rem;
    margin-bottom: 2rem;
    box-sizing: content-box;
}
.nav-bar {
    padding: 3rem auto;
    height: auto;
    & ul {
        // display: flex;
        // align-items: center;
        // justify-content: space-around;
        // flex-direction: row;
        // flex-wrap: wrap;
        & li {
            display: inline-block;
            margin: 1.5rem 1rem;

            & a {
                color: #fff;
                text-decoration: none;
                padding: 1rem 3rem;
                border-radius: 50px;
                border: 2px solid black;
                background: linear-gradient(to right, #095cda, #058867);
            }
        }
    }
}

h2 {
    background: #1ba755;
}
