<div class="container">
    <div class="leftdiv">
        <div class="topdiv">
            <h2 class="imageheading"><strong>Image around circle</strong></h2>

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab et dicta exercitationem quos consequatur
            voluptatibus eius? Accusantium dignissimos cupiditate libero.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rerum praesentium blanditiis, cum corrupti eius
            sapiente numquam dicta. Possimus sequi aliquid a eius, nisi amet maxime corrupti repellendus aperiam
            voluptatem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reiciendis, natus provident quasi
            voluptatum sunt sequi tempora iusto voluptatem. Repudiandae autem sunt voluptatibus, natus incidunt aliquid
            dolore rem quisquam numquam facilis eius, veritatis atque fuga voluptas reprehenderit unde quae culpa eaque
            tempore voluptatum sed? Repellat amet voluptatibus mollitia, magni tempore, nostrum libero culpa aperiam
            earum suscipit eos quae, quis dolorum.
            lorem60
        </div>
        <div class="bottomdiv">
            <img class="seaimage" src="../../assets/image/sea1.jpg" alt="sea">
            <h2 class="imageheading"><strong>Image around circle</strong></h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quidem aperiam quaerat praesentium ipsam
            ullam natus et corrupti molestias similique.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem harum explicabo illum quos incidunt ipsa.
            Earum, nam repellendus? Dolor corporis cumque excepturi odit quos assumenda doloribus porro et molestias
            earum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, consequuntur optio quod nemo nihil
            molestias tenetur explicabo sint vero quas fuga fugiat earum suscipit, sed ab quibusdam dolores sapiente
            quaerat?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, debitis quis. Voluptates voluptatum
            qui provident consectetur dignissimos modi fuga quis?
        </div>

    </div>


    <div class="rightdiv">
        <h2 class="headingbox"><strong>This is the Right side Div</strong></h2>
        <div class="righttop">

            <h2 class="imageheading"><strong>Image around circle</strong></h2>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eligendi dolorum aspernatur
                accusantium
                facilis temporibus, pariatur earum nostrum fuga sunt! Ipsam, reprehenderit velit delectus aspernatur
                veniam
                ipsum, alias sequi dignissimos nihil tempore veritatis perferendis aperiam magnam cupiditate ex magni
                dolorum
                eligendi vero! Voluptate reiciendis cum illo non eaque dignissimos nihil.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum voluptatibus facilis ipsam impedit unde
                doloribus natus maxime sit soluta nostrum voluptatum totam amet esse vitae accusantium inventore minima
                repellendus consequuntur aliquam, necessitatibus temporibus veritatis? Dicta ratione beatae aspernatur
                unde
                similique? Neque reiciendis eos voluptates rem excepturi cupiditate nulla veritatis laborum natus? Saepe
                minus
            </p>
        </div>
        <div class="rightbottom">
            <p>

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, dolorum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, quo? Quidem veritatis voluptate,
                repudiandae ipsa iusto illo consequatur atque nisi molestias impedit temporibus debitis harum dolor
                eveniet
                aut corrupti nesciunt natus aperiam. Veniam aut voluptatem ipsam amet minus inventore beatae.
            </p>

        </div>
    </div>
</div>