<div class="container">
    <h2>jsfunctions works!</h2>
    <div class="destructing">
        <button class="cake" (click)="cakeRecipeDestructing()">Cake Batter</button>

        <button class="cake" (click)="getUsers()">Pluck</button>

        <button class="cake" (click)="jsSpread()">Object Assign</button>
        <button class="cake" (click)="forIn()">For In</button>
        <button class="cake" (click)="forOf()">For Of</button>


    </div>

    <div class="listings">
        <ul>
            <li *ngFor="let item of batters">
                {{item.type}}
            </li>
        </ul>
    </div>
</div>

<div class="container" *ngIf="arraySpread">
    Array Spreaded
    <ul>
        <li *ngFor="let item of arraySpread">
            {{item.name}} - {{item.age}}
        </li>
    </ul>
</div>


<div class="container" *ngIf="objectSpread">
    Object Spreaded and assigned
    {{objectSpread?.name}} - {{objectSpread?.age}}
</div>