<p>blogen-add-action works!
    <i class="fa fa-window-close" (click)="close()"></i>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reiciendis nesciunt deleniti facilis, molestiae
    eligendi repudiandae consectetur consequatur exercitationem temporibus, doloribus illo ducimus et aliquid natus quis
    harum sapiente? Nesciunt quas ex nemo cupiditate ipsum adipisci cum sequi quibusdam? Libero fugit corporis provident
    eveniet accusamus, excepturi fuga maiores, obcaecati blanditiis non sit facere autem nihil sapiente quae consequatur
    veritatis eius tempora quas unde assumenda esse maxime enim ex. Ratione, mollitia. Explicabo illum praesentium illo.
    Doloribus, delectus vitae rerum accusantium minima corporis aperiam! Minus eos perferendis esse, tempora architecto
    facere eius cum, amet, officiis necessitatibus doloremque quae labore harum quasi dolores?

</p>